.display-center
  %section.section-showcase
    .row.title
      %h1 Please check our test Video
    .row
      %iframe{allowfullscreen: "", frameborder: "0", height: "500", src: "https://www.youtube.com/embed/C0DPdy98e4c?autoplay=0&enablejsapi=1&wmode=opaque", style: "width: 70%;"}
      = render "pages/ourproducts"