%footer
  .row
    .col.loyer-col.span-8-of-12
      %h3
        Our Vision
      %p.loyer-text
        “Whatever is worth doing at all is worth doing well.” – Philip Stanhope, 4th Earl of Chesterfield
        %br/
        We take the finest raw materials, organically grown and tested, in our greenhouses in the great state of California to bring you the best flavors.  No compromises, ever.  You can always count on unique extracts for the best diamonds, sauce and shatter.
    .col.links-col.span-4-of-12
      %h3
        More about our terms
      %ul.important-links
        %li= link_to "Terms of use",terms_of_use_path
        %li= link_to "Privacy Policy",  privacy_policy_path
      %ul.social-links
        %li
          %a.facebook{href: "#", target: "_blank"}
            %span.sr-only Visit on facebook
            %i.fa.fa-facebook{"aria-hidden" => "true"}
        %li
          %a.instagram{href: "#", target: "_blank"}
            %span.sr-only Visit on instagram
            %i.fa.fa-instagram{"aria-hidden" => "true"}
        %li
          %a.youtube{href: "#", target: "_blank"}
            %span.sr-only Visit on youtube
            %i.fa.fa-youtube{"aria-hidden" => "true"}
  .row.coptrights
    %p © Copyright 2012 - 2018 Unique_Extracts | All Rights Reserved
    %p.footer-right-details Phone: 03-301-9181
    %p.footer-right-details Skype: ?